[参考: smashew/NameDatabases](https://github.com/smashew/NameDatabases)

In [12]:
import os
import pandas as pd
import numpy as np

In [2]:
path = "../data/"
file = "us.txt"

In [11]:
with open(os.path.join(path, file), "r") as f:
    name = f.read()
name = name.split("\n")

In [15]:
age = np.random.randint(0, 101, len(name))
height = np.random.randint(140, 200, len(name))

In [16]:
person = pd.DataFrame({"name": name, "age": age, "height": height})
person.head()

    name  age  height
0  Aaron   34     186
1  Abbey   75     158
2  Abbie   51     153
3   Abby   97     182
4  Abdul   14     168

In [18]:
person.to_csv(os.path.join(path, "person.csv"), index=False)