[参考: pandasで要素、行、列に関数を適用するmap, applymap, apply](https://note.nkmk.me/python-pandas-map-applymap-apply/)

In [1]:
import pandas as pd

In [8]:
row_1 = 11, 12, 13, 14
row_2 = 21, 22, 23, 24
row_3 = 31, 32, 33, 34
df = pd.concat([pd.DataFrame(row_1).T, pd.DataFrame(row_2).T, pd.DataFrame(row_3).T])
columns = ["a", "b", "c", "d"]
df.columns = columns

In [9]:
df

    a   b   c   d
0  11  12  13  14
0  21  22  23  24
0  31  32  33  34

In [10]:
df.apply(lambda x: x+100)

     a    b    c    d
0  111  112  113  114
0  121  122  123  124
0  131  132  133  134